@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;400;500;600&family=Montserrat:wght@300;400;500;600&family=Quicksand:wght@300;400;500;600&display=swap");

body,
html {
    height: 100%
}

body {
    background-color: rgba(87, 15, 55, 0.05) !important;
}

.logo {
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 80%;
}

img#main-logo {
    border: 0.2rem solid rgba(87, 15, 55, 0.8);
    border-radius: 0.5rem;
}

.wrapper {
    background-color: rgba(173, 169, 183, 0.7);
    margin: 3rem 6rem;
    padding: 1rem 0;
    border: 0.1rem solid darkgrey;
    border-radius: 0.3125rem;
}

h2#question {
    margin-bottom: 2.5rem;
}

/*----------answer choices styling------*/

#game {
    margin-bottom: 4rem;
}

.choice-container {
    display: flex;
    margin-bottom: 0.5rem;
    width: 100%;
    font-size: 1rem;
    border: 00.1rem solid rgba(87, 15, 55, 0.2);
    border-radius: 0.3125rem;
    background-color: #fff
}

.choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0;
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}

.choice-prefix {
    margin: 0;
    padding: 1rem 2rem;
    background: rgba(87, 15, 55, 0.8);
    border-radius: 0.3125rem;
    color: #fff;
}

.choice-text {
    padding: 1rem;
    margin: 0;
    width: 100%;
    text-align: left;
}

/*-------Correct/Incorrect answer inner class colors--------*/

.correct {
    background-color: rgb(181, 228, 140) !important;
}

.incorrect {
    background-color: rgb(229, 56, 59) !important;
}

/*----------------HUD-----------------*/

#hud {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1.5rem;
}

.hud-prefix {
    text-align: center;
    font-family: "Quicksand", sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 0.2rem;
}

.hud-main-text {
    text-align: center;
}

/*------------------Loader-------------------*/
/*taken from https://www.w3schools.com/howto/howto_css_loader.asp*/

.hidden {
    display: none;
}

#loader {
    border: 1.2px solid #f3f3f3;
    border-top: 1.2px solid rgba(87, 15, 55, 0.6);
    border-radius: 50%;
    width: 12rem;
    height: 12rem;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

/*--progress bar decorations--*/
#progressBar {
    width: 15rem;
    height: 2.25rem;
    border: 0.5rem solid rgba(87, 15, 55, 0.6);
}

#progressBarFull {
    height: 1.25rem;
    background-color: rgba(87, 15, 55, 0.6);
    width: 0%;
    /*start the progress bar empty*/
}

@media screen and (max-width: 641px) {
    #main-logo {
        width: 80%;
    }

    #progressBar {
        width: 4.75rem;
        height: 1.9rem;
        border: 0.3rem solid rgba(87, 15, 55, 0.6);
    }
    .h2, h2 {
        font-size: 1.5rem!important;
        margin-bottom: 2rem;
    }
    .wrapper {
        background-color: rgba(173, 169, 183, 0.7);
        margin: 0.5rem 1.5rem;
        padding: 1rem 0;
        border: 0.1rem solid darkgrey;
        border-radius: 0.3125rem;
    }
}

@media screen and (max-width: 450px) {
    .wrapper {
        background-color: rgba(173, 169, 183, 0.7);
        margin: 1rem 1rem;
        padding: 1rem 0;
        border: 0.1rem solid darkgrey;
        border-radius: 0.3125rem;
    }

    .hud-prefix {
        text-align: center;
        font-family: "Quicksand", sans-serif;
        font-size: 0.9rem;
        font-weight: 400;
        margin-bottom: 0.2rem;
    }

    .choice-container {
        font-size: 1rem;
    }

    .h2, h2 {
        font-size: 1.5rem;
    }
    #progressBar {
        width: 4rem;
        height: 1.75rem;
        border: 0.3rem solid rgba(87, 15, 55, 0.6);
    }

    #progressBarFull {
        height: 1.1rem;
        background-color: rgba(87, 15, 55, 0.6);
    }

}
@media screen and (max-width: 650px) {

}