@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;400;500;600&family=Montserrat:wght@300;400;500;600&family=Quicksand:wght@300;400;500;600&display=swap");

/*-----------general styles----------*/

body {
  background-color: lightgray;
}

h1 {
  font-family: 'Quicksand', sans-serif !important;
  font-size: 30px !important;
  font-weight: 500 !important;
  margin: 0px 0px 15px 0px !important;
}

h3 {
  font-family: 'Montserrat', sans-serif !important;
  font-size: 15px !important;
  font-weight: 300px !important;
  margin-bottom: 25px !important;
  text-align: center !important;
}

/*---------------Logo----------------*/

#main-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#rule-btn {
  position: absolute;
  top: 1;
  right: 0;
  margin-top: 10px;
  margin-right: 5px;
  border: 0.5px solid darkgray;
  font-size: 30px;
  color: #808080;
}

/*----------Home page section --------*/


#homepage {
  border: 1px solid darkgrey !important;
  margin: 20px 30px 30px 30px !important;
  padding: 30px !important;
  background-color: rgba(116, 190, 181, 0.75);

}

.background-home {
  opacity: 0.85;
  height: 60%;
  overflow: hidden;

}

.img {
  opacity: 0.85;
  margin-top: 0px;
  overflow: hidden;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
}

.card-img-top {
  width: 100%;
  padding: 10px;
}

button.start-button {
  border: 0.5px dotted lightgray;
}

/*------------Media Queries--------------*/

/*--- media querie for responsiveness of logo on small screens---*/
@media screen and (min-width: 450px) {
  #rule-btn {
    font-size: 20px;
    margin-top: 5px;
    margin-right: 5px;
  }

  /*
  h1 {
    font-size: 25px !important;
  }*/
}

@media screen and (max-width: 641px) {
  #main-logo {
    width: 100%;
  }
}